@import "./global.css";

/* PLAYING ZONE */
.content {
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: visible;
}

.pick-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  transform: scale(0.6);
}

@media only screen and (min-width: 900px) {
  .pick-zone {
    transform: scale(0.8);
  }
}
@media only screen and (min-width: 1200px) {
  .pick-zone {
    transform: scale(1);
  }
}

#pick-bg {
  opacity: 1;
  transition: opacity 0.8s ease;
}
#pick-bg.hidden {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.pick-title {
  position: absolute;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  opacity: 0;
  text-shadow: 1px 1px 5px black;
}
.pick-title--player {
  transform: translate(-150px, 40px);
}
.pick-title--cp {
  transform: translate(150px, 40px);
}
.pick-title.picked {
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* RESULT ZONE */
.result-zone {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  transform: translate(0, 160px);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s ease;
}
.result-zone.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.8s ease;
}
.result-zone > .title {
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 700;
  color: white;
  margin: 10px;
  text-shadow: 1px 1px 5px black;
}
.result-zone > a {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 80px;
  width: 300px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  background-color: white;
  color: hsl(228, 25%, 31%);
  border-radius: 10px;
  box-shadow: 0px 1px 5px black;
  cursor: pointer;
}
.result-zone > a:hover {
  background-color: rgb(228, 228, 228);
}
.result-zone > a:active {
  transform: scale(1.1);
  background-color: rgb(196, 196, 196);
  transition: all 0.3 ease;
}
/* GENERIC BADGES */
.badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.5s ease, height 0.3s ease, width 0.3s ease;
}
.badge:active:not(.selected) {
  height: 170px;
  width: 170px;
  transition: height 0.3s ease, width 0.3s ease;
}

.badge > img {
  z-index: 2;
}

#winner-aura {
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 280px;
  width: 280px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.03);

  transform: scale(0.1);
  opacity: 0;
  visibility: hidden;
}
#winner-aura:before {
  content: "";
  position: absolute;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.03);
}
#winner-aura:after {
  content: "";
  position: absolute;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.03);
}
#winner-aura.player {
  transform: translate(-150px, -130px) scale(1.5);
}
#winner-aura.computer {
  transform: translate(150px, -130px) scale(1.5);
}
#winner-aura.visible {
  opacity: 1;
  visibility: visible;
  transition: transform 0.2s ease-out;
}
/* PLAYER BADGES */
#rock {
  background: var(--rock-gradient);
  box-shadow: 0 8px hsl(349, 67%, 42%);
  transform: translate(0, 90px);
  transform-origin: center;
}
#paper {
  background: var(--paper-gradient);
  box-shadow: 0 8px hsl(230, 59%, 52%);
  transform: translate(-120px, -110px);
  transform-origin: center;
}
#scissors {
  background: var(--scissors-gradient);
  box-shadow: 0 8px hsl(39, 90%, 41%);
  transform: translate(120px, -110px);
  transform-origin: center;
}

.badge:before {
  content: "";
  z-index: 1;
  position: absolute;
  height: 120px;
  width: 120px;
  background-color: var(--badge-bg);
  border-radius: 50%;
  box-shadow: inset 0 8px rgba(0, 0, 0, 0.1);
}

#rock.selected,
#paper.selected,
#scissors.selected {
  z-index: 3;
  transform: translate(-150px, -135px) scale(1.3);
  transform-origin: center;
  transition: transform 0.5s ease;
}
#rock.hidden,
#paper.hidden,
#scissors.hidden {
  z-index: 2;
  transform: translate(-150px, -135px) scale(0.8);
  transform-origin: center;
  transition: transform 0.5s ease;
}

/* COMPUTER BADGES */
#cp-rock {
  background: var(--rock-gradient);
  box-shadow: 0 8px hsl(349, 67%, 42%);
}
#cp-paper {
  background: var(--paper-gradient);
  box-shadow: 0 8px hsl(230, 59%, 52%);
}
#cp-scissors {
  background: var(--scissors-gradient);
  box-shadow: 0 8px hsl(39, 90%, 41%);
}

#cp-rock,
#cp-paper,
#cp-scissors {
  opacity: 0;
  visibility: hidden;
  transform: translate(150px, -135px) scale(0.1);
  transform-origin: center;
  transition: transform 0.3s ease;
}
#cp-rock.selected,
#cp-paper.selected,
#cp-scissors.selected {
  z-index: 3;
  opacity: 1;
  visibility: visible;
  transform: translate(150px, -135px) scale(1.3);
  transition: transform 0.3s ease;
}
